<app-navegacion></app-navegacion>


<main class="d-flex flex-row justify-content-center pt-5 gap-5 ">

<div class="card border border-black border-3" style="width: 18rem;">
    <img src="https://http2.mlstatic.com/D_NQ_NP_951349-MCO74059161475_012024-O.webp" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">Mercedes-Benz</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush ">
      
      
      <li class="list-group-item">$price$</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card border border-black border-3" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/2023_Ferrari_Purosangue.jpg/2560px-2023_Ferrari_Purosangue.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ferrari</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      
      
      <li class="list-group-item">$price$</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card border border-black border-3" style="width: 18rem;">
    <img src="https://media.gq.com.mx/photos/65b2cf36f7f5185ee3827c1e/4:3/w_2248,h_1686,c_limit/Porsche_Macan_2024.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Porshe</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      
     
      <li class="list-group-item">$price$</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

</main>



<app-footer></app-footer>