<app-navegacion></app-navegacion>


<main class="d-flex flex-row justify-content-center pt-5 gap-5 ">

<div class="card border border-black border-3" style="width: 18rem;">
    <img src="../assets/inicio/luxurious-car-parked-highway-with-illuminated-headlight-sunset.jpg" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title">Mercedes-Benz</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush ">
      
      
      <li class="list-group-item">$price$</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card border border-black border-3" style="width: 18rem;">
    <img src="../assets/inicio/luxurious-car-parked-highway-with-illuminated-headlight-sunset.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ferrari</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      
      
      <li class="list-group-item">$price$</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card border border-black border-3" style="width: 18rem;">
    <img src="../assets/inicio/luxurious-car-parked-highway-with-illuminated-headlight-sunset.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Porshe</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      
     
      <li class="list-group-item">$price$</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

</main>



<app-footer></app-footer>