<footer class="miFooter">
  <div class="d-flex justify-content-between">
    <div>
      <p>Proyecto Cars realizado por &copy; Cristian Beltran 2024</p>
    </div>
     <ul class="nav d-flex justify-content-between p-1 gap-5">
      <li class="nav-item">
        <i class="bi bi-instagram"></i>
      </li><li class="nav-item">
        <i class="bi bi-facebook"></i>
      </li>
      <li class="nav-item">
        <i class="bi bi-whatsapp"></i>
      </li>
      <li class="nav-item">
        <i class="bi bi-twitter"></i>
      </li>
    </ul>
  </div>
</footer>