<div class="container">
  <h2 class="text-center text-uppercase">Bienvenido al Catalogo de CookiesNcream</h2>

  <!-- Productos -->
  <div class="container my-5">
    <div class="row row-gap-5" id="productsContainer">

      @for(producto of allProducts; track $index){
      <div class="col  contenedorProducto">
        <div class="card miTarjeta border-black text-center" style="width: 18rem; height: 25rem;">
          <h5 class="card-title text-uppercase">{{producto.nombre}}</h5>
          <img src="{{producto.imagen}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text fs-1">${{producto.precio}}0</p>
            <a href="#" class="btn btn-dark">Añadir al carrito</a>
          </div>
        </div>
      </div>
      }



      <!-- <div class="col contenedorProducto">
        <div class="card miTarjeta border-black text-center" style="width: 18rem;">
          <h5 class="card-title text-uppercase">Card title</h5>
          <img src="./assets/images/img4.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text fs-1">$20.000</p>
            <a href="#" class="btn btn-dark">Añadir al carrito</a>
          </div>
        </div>
      </div> -->

    </div>
  </div>
  <!-- Fin productos -->