<div class="overflow-x-hidden miBody">

  
  
    <!-- Carrusel de imágenes -->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner p-4 miCarrusel">
        <div class="carousel-item active ">
          <img src="assets/baner1.jpg" class="d-block w-100" alt="baner1">
        </div>
        <div class="carousel-item">
          <img src="assets/baner2.jpg" class="d-block w-100" alt="baner2">
        </div>
        <div class="carousel-item">
          <img src="assets/baner3.jpg" class="d-block w-100" alt="baner3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Fin carrusel de imágenes -->
  
  
    <!-- Logos -->
    <div class="container-fluid">
      <div class="row text-center py-4">
        <div class="col-sm-6 col-lg-3"><img class="logo" src="assets/logo.jpg" alt="logo1"></div>
        <div class="col-sm-6 col-lg-3"><img class="logo" src="assets/logo.jpg" alt="logo1"></div>
        <div class="col-sm-6 col-lg-3"><img class="logo" src="assets/logo.jpg" alt="logo1"></div>
        <div class="col-sm-6 col-lg-3"><img class="logo" src="assets/logo.jpg" alt="logo1"></div>
      </div>
    </div>
    <!-- Fin logos -->

    <div class="container p-5">
        <h1 class="text-center text-uppercase">Bienvenido a CookiesNcream</h1>
        <p class="fs-2 py-5">En CookiesNcream, llevamos la pasión por las galletas al siguiente nivel. Nuestros deliciosos y únicos sabores están hechos con ingredientes de la más alta calidad para brindarte una experiencia de sabor inolvidable. Explora nuestras creaciones artesanales y encuentra tu nueva galleta favorita. ¡Gracias por visitarnos, y esperamos endulzar tu día!</p>
        
    </div>
  

</div>