<body>
    


<app-navegacion></app-navegacion>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/foto-gratis/coche-lujoso-estacionado-carretera-faro-iluminado-al-atardecer_181624-60607.jpg?t=st=1719958866~exp=1719962466~hmac=e341df2dfceb6f98d303328ab341fd6ea2c033f7037ff6bbf14d4ba80821189d&w=996"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/jeep-offroader-blanco-estacionamiento_114579-4007.jpg?t=st=1719959001~exp=1719962601~hmac=70b229a7cb545aadc4915226305fa506c1be38ce0baa904e1c7d188c704a4dbe&w=996" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/coche-deportivo-autoajuste-blanco-negro_114579-4075.jpg?t=st=1719959134~exp=1719962734~hmac=5bc19223b824471402ea6641501c75b3fa2ff3b5f5412fd43aaea4263e12087d&w=996" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<div class="footerInicio">
<app-footer></app-footer>
</div>
</body>