<div class="d-flex justify-content-between p-1">
<nav class="navbar   " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-1" routerLink="/inicio">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQIghPm92DQ3LROtXWD_DOg4tAN_k-Ym8l-wkHpBP8bFXgJ_lEP" alt="Logo" width="40" height="80" class="d-inline-block align-text-top">
      CARS
    </a>
  </div>
  
</nav>
<ul class="nav justify-content-end  gap-5 .text-white pt-4" data-bs-theme="dark">

      
      
  <li class="nav-item">
    <a class="nav-link text-white fs-5" routerLink="/inicio">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white fs-5" routerLink="/productos">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white fs-5" routerLink="/admin">Admin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white fs-5" routerLink="/ingreso">Ingreso</a>
  </li>
  
</ul>
</div>

